.cPassContainer {
    width: 380px;
    margin: 40px auto;
    position: relative;

    h2 {
        color: rgba(185, 0, 0, 0.705);
        margin-bottom: 30px;
    }

    form {
        gap: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;

        :not(button) {
            text-align: left;
        }

        .input-error-message {
            margin: 0;
            position: absolute;
        }

        div {
            width: 100%;
            min-width: none;
        }

        .successMsg {
            position: absolute;
            bottom: -50px;
            color: green;
        }

        .btn-secondary {
            pointer-events: none;
        }

        .wrong {
            input {
                border: solid red 1px;
            }

            span:last-child:after {
                content: '*Old password is not correct';
                color: red;
                position: absolute;
            }
        }
    }

    @media screen and (max-width: 483px) {
        width: 90%;
    }
}
