@import '../../../index.scss';

.password-change-page {
    background-image: url('../../../assets/img/header_slider03.jpg');
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.password-change-wrapper {
    background-color: rgba(0, 0, 0, 0.349);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .change-password-desc {
        display: block;
        margin-bottom: 20px;

        .test-header {
            flex: 1;
            margin-bottom: 10px;
            color: $primary-white;
            font-weight: bold;
            font-family: 'Segoe UI';
        }

        .desc-paragraph {
            font-style: italic;
        }
    }

    .change-password-form {
        flex: 2.5;

        .input-error-message,
        .input-gtg-message {
            margin: -5px 0px 20px;
            padding-left: 60px;
            text-align: left;
            font-style: italic;
            color: $secondary-red;
        }

        .input-gtg-message {
            color: $primary-green;
        }

        .change-password-inputs {
            width: 90%;
            padding: 10px;
            border-radius: 5px;
            border: none;
            outline: none;

            &::placeholder {
                color: $primary-white;
            }
        }

        .change-pass-submit-btn {
            margin-top: 20px;
            width: 30%;
            height: 40px;
            border-radius: 5px;
            border: none;
            text-transform: uppercase;
            font-weight: bold;
        }

        .password-change-error {
            margin-top: 20px;
            text-align: left;
            padding-left: 70px;
            font-style: italic;
            color: $secondary-red;
        }
    }
}

@media screen and (max-width: 1000px) {
    .password-change-wrapper {
        width: 94%;
    }

    .change-password-form {
        .change-password-inputs {
            width: 100%;
            padding: 0;
        }
    }
}
