@import '../../index.scss';

section {
    padding: 40px 0px;
    background-color: #fff;
    box-sizing: border-box;
    overflow: hidden;

    img {
        margin: 20px 0px 20px 0px;
    }

    .decorationHeader {
        margin: 0;
    }

    .header-wrapper-single-col {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .decorationHeader {
        margin: 0;
    }

    .header-wrapper-single-col {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}
