@import '../../../index.scss';

.header-section {
    margin-top: 50px;
    div {
        max-width: 550px;
    }
}

.slider-section,
.history-section {
    p > span {
        color: red;
        font-weight: 700;
    }
}

.history-section {
    p {
        text-align: left;
        margin-top: 20px;
    }
}

.slider-section,
.history-section {
    img {
        max-height: 350px;
    }
}

.slider-section {
    padding: 0px;

    p:nth-child(1) {
        margin-top: 130px;
    }

    p {
        text-align: left;
    }

    img {
        // margin-bottom: 50px;
    }
}

@media screen and (max-width: 725px) {
    .slider-section,
    .history-section {
        img {
            display: none;
        }
    }
}
