<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Email Template</title>
        <style>
            table {max-width: 700px; width: 100%; margin: 0 auto; box-shadow:
            0px 0px 10px black; } .logo { width: 80px; } img { max-width: 700px;
            width:100%; max-height: 200px; object-fit: cover; } p { max-width:
            500px; text-align: center; margin: 25px auto; } a {
            background-color: #e90015; color: #fff; padding: 10px 30px;
            border-radius: 5px; border: transparent; text-decoration: none;
            margin: 15px 0px ;} h3 { text-align: center; margin: 40px 0px 20px;
            } tbody { background-image:
            url("https://i.ibb.co/hMfscWm/fake-box-shadow.png");
            background-size: cover; background-position: center; }

        </style>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <td>
                        <img
                            class='logo'
                            src='https://i.ibb.co/dKStb6z/logo-elixir.png'
                            alt='logo'
                        />
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img
                            src='https://i.ibb.co/VDW00LG/02.jpg'
                            alt='pizza'
                        />
                    </td>
                </tr>
                <tr>
                    <th><h2>Password Reset</h2></th>
                </tr>
                <tr>
                    <th>
                        <p>
                            Hey
                            {{name}}, you're request password reset. If you
                            didn't request that skip this email. Simple click
                            big red button below to create new password.
                        </p>
                    </th>
                </tr>
                <tr>
                    <th>
                        <a
                            href='http://localhost:5173/changePassword/{{id}}'
                            style='color: #fff;'
                        >Reset Password</a>
                    </th>
                </tr>
            </tbody>
        </table>
        <h3>Stay in touch</h3>
        <p>
            Email send by BootCamp-June2023
            <br />
            Copyright &copy; 2023 BootCamp-June2023. All rights reserved.
        </p>
    </body>
</html>