@import '../components/Headings/SingleHeadingGenerator.module.scss';

@import '../node_modules/bootstrap/scss/bootstrap.scss';

#root {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 4rem;
    color: $primary-dark-grey;
}

body {
    background-color: #fff;
}

h2,
h3 {
    color: $primary-dark-grey;
}

button {
    background-color: $primary-red;
    color: $primary-white;
}
