.sliderPlaces {
    width: 500px;
    margin-bottom: 20px;
    margin: 0 0 20px 50px;

    @media screen and (max-width: 991px) {
        width: 100%;
        margin: unset;

        .slick-list {
            .slick-track {
                .slick-slide {
                    display: block;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}
